@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:ital,wght@1,300&family=Quicksand&display=swap");
/* ACÁ EMPIEZA EL MENÚ */
.navContainer {
  text-align: right;
  top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #dbc9c5; }

.navLogo {
  color: #7d2850;
  font-size: 20px;
  float: left;
  padding: 12px 10px;
  display: flex;
  flex-direction: row; }

.navLogo img {
  width: 60px;
  height: 60px; }

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navBar > li {
  display: inline-block;
  text-align: center;
  border: none;
  outline: 0;
  position: relative; }

.navBar > li > a {
  display: block;
  color: #7d2850;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  position: relative; }

.navBar > li > a:hover {
  background-color: #e1b4d2;
  color: white; }

.navBar li .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.navBar li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffd4f0;
  min-width: 160px;
  z-index: 999; }

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #7d2850; }

.dropdown-content a:hover {
  background-color: #e1b4d2;
  color: white; }

.dropdown:hover .dropdown-content {
  display: block; }

.active {
  background-color: #e1b4d2;
  color: white !important; }

/* ACÁ TERMINA EL MENÚ */
.mascotas::before {
  content: "♥";
  position: -webkit-sticky; }

.mascotas {
  color: #7d2850;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  padding-top: 30px; }

.cabeceraPagina {
  text-align: center;
  color: #7d2850;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.cabeceraPagina__descripcion {
  text-align: center;
  color: black;
  font-weight: bold; }

.subtituloPaginaPrincipal {
  color: #7d2850;
  font-family: "Open Sans", sans-serif; }

.imagenPrincipal img {
  width: 450px;
  height: 450px; }

.imagenPrincipal img:last-child {
  display: none; }

.imagenPrincipal:hover img:first-child {
  display: none; }

.imagenPrincipal:hover img:last-child {
  display: block;
  transition-duration: 2s; }

.imagenDoctora {
  border-radius: 50%;
  width: 500px;
  height: 300px; }

footer {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  color: #ecf5ff;
  text-align: center;
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  border-radius: 15px;
  margin-top: 4em; }

footer h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

.footer2 {
  padding: 20px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  width: 10vw;
  height: 25vh; }

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); }

.team .member .member-img {
  position: relative;
  overflow: hidden;
  width: 255px;
  height: 250px; }

.member-img img {
  width: 255px;
  height: 250px; }

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85); }

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block; }

.team .member .social a:hover {
  color: #3498db; }

.team .member .social i {
  font-size: 18px;
  margin: 0 2px; }

.team .member .member-info {
  padding: 25px 15px; }

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222; }

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa; }

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777; }

.team .member:hover .social {
  opacity: 1; }

.jumbotron {
  background-image: url("../imagenes/fondo_patitas.png");
  border-radius: 5%; }

.view img {
  height: 75vh; }

.testimonial {
  background: #fff;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 0 15px 100px;
  position: relative; }

.testimonial:before,
.testimonial:after {
  content: "";
  border-top: 40px solid #fff;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0; }

.testimonial:after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0; }

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #bd986b;
  margin-bottom: 20px;
  opacity: 0.6; }

.testimonial .description {
  font-size: 15px;
  color: #777;
  text-align: left;
  margin-bottom: 30px;
  opacity: 0.8; }

.testimonial .testimonial-content {
  width: 50px;
  position: absolute;
  left: 0; }

.testimonial .pic {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative; }

.testimonial .pic img {
  width: 50px;
  height: auto; }

.testimonial .title {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 5px 0; }

.testimonial .post {
  display: block;
  font-size: 14px;
  color: #ffd9b8; }

.owl-theme .owl-controls {
  margin-top: 0; }

.owl-theme .owl-controls .owl-page span {
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffd9b8;
  border-color: #fff; }

@media only screen and (max-width: 650px) and (min-width: 400px) {
  .testimonial:before {
    border-right: 325px solid transparent; }
  .testimonial:after {
    border-left: 325px solid transparent; } }

.testimonials {
  height: 50vh; }

.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: block;
  position: absolute; }

.large {
  width: 70px;
  height: 80px;
  transform: rotate(80deg);
  left: 100px;
  top: 50px; }

.small-1 {
  transform: rotate(50deg);
  left: 145px;
  top: 28px; }

.small-2 {
  transform: rotate(65deg);
  left: 174px;
  top: 50px; }

.small-3 {
  transform: rotate(98deg);
  position: absolute;
  left: 178px;
  top: 87px; }

.small-4 {
  transform: rotate(140deg);
  position: absolute;
  left: 158px;
  top: 117px; }

/* POSICIÓN Y ANIMACIÓN HUELLAS */
#pawContainer {
  z-index: -1;
  position: relative;
  height: 500px; }

.paw-print-1 {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 300px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: walk 3s linear infinite; }

.paw-print-2 {
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 280px;
  transform: rotate(-5deg);
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite 0.25s; }

.paw-print-3 {
  opacity: 0;
  position: absolute;
  left: 300px;
  top: 130px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s; }

.paw-print-4 {
  opacity: 0;
  position: absolute;
  left: 500px;
  top: 280px;
  transform: rotate(-20deg);
  -webkit-animation: walk 3s linear infinite 0.75s;
  animation: walk 3s linear infinite 0.75s; }

.paw-print-5 {
  opacity: 0;
  position: absolute;
  left: 700px;
  top: 50px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1s;
  animation: walk 3s linear infinite 1s; }

.paw-print-6 {
  opacity: 0;
  position: absolute;
  left: 800px;
  top: 200px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1.25s;
  animation: walk 3s linear infinite 1.25s; }

.paw-print-7 {
  opacity: 0;
  position: absolute;
  left: 1000px;
  top: 50px;
  transform: rotate(20deg);
  -webkit-animation: walk 3s linear infinite 1.5s;
  animation: walk 3s linear infinite 1.5s; }

.paw-print-8 {
  opacity: 0;
  position: absolute;
  left: 1100px;
  top: 250px;
  transform: rotate(10deg);
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 1.75s; }

/* KEYFRAMES HUELLAS */
@-webkit-keyframes walk {
  25% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes walk {
  /* aparece */
  25% {
    opacity: 1; }
  /* desaparece */
  100% {
    opacity: 0; } }

/* ACÁ EMPIEZA EL MENÚ */
.navContainer {
  text-align: right;
  top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #dbc9c5; }

.navLogo {
  color: #7d2850;
  font-size: 20px;
  float: left;
  padding: 12px 10px;
  display: flex;
  flex-direction: row; }

.navLogo img {
  width: 60px;
  height: 60px; }

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navBar > li {
  display: inline-block;
  text-align: center;
  border: none;
  outline: 0;
  position: relative; }

.navBar > li > a {
  display: block;
  color: #7d2850;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  position: relative; }

.navBar > li > a:hover {
  background-color: #e1b4d2;
  color: white; }

.navBar li .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.navBar li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffd4f0;
  min-width: 160px;
  z-index: 999; }

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #7d2850; }

.dropdown-content a:hover {
  background-color: #e1b4d2;
  color: white; }

.dropdown:hover .dropdown-content {
  display: block; }

.active {
  background-color: #e1b4d2;
  color: white !important; }

/* ACÁ TERMINA EL MENÚ */
/* ACÁ EMPIEZA LA SECCIÓN GALERÍA */
.fotosGaleria {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: 100vh; }

.fotosGaleria img:hover {
  opacity: 0.25; }

.fotosGaleria img {
  margin: 10px;
  border: 3px solid #9c2169;
  max-width: 23vw;
  width: 270px;
  height: 220px; }

/* SECCIÓN GALERÍA GRIDS */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center; }

.gridContainer img {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 220px;
  height: 170px; }

.gridContainer img:hover {
  opacity: 0.25; }

/* SECCIÓN GALERÍA Y MENÚ RESPONSIVE */
@media (max-width: 375px) {
  .gridContainer {
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: auto;
    margin-right: 30px;
    width: 375px; }
  .gridContainer img {
    width: 50%;
    height: 200px; }
  .navContainer {
    position: relative;
    text-align: center;
    border-bottom: 2px solid #dbc9c5; }
  .navLogo {
    float: none;
    text-align: center;
    padding: 20px; }
  .navLogo img {
    height: 50px;
    width: 50px; }
  .navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; }
    .navBar li {
      display: block;
      border-bottom: 1px solid darkviolet; }
      .navBar li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        height: 5vh; }
  .navBar > li:hover {
    border-bottom: 0px; }
  .navBar li .dropbtn {
    display: block;
    text-align: center;
    text-decoration: none; }
  .navBar li.dropdown {
    display: block; }
  .dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    opacity: 50%; }
  .dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 5vh;
    color: #7d2850;
    border-bottom: 1px solid purple; }
  .dropdown-content a:active {
    background-color: #e1b4d2;
    color: white; }
  .dropdown:active .dropdown-content {
    display: block; }
  .imagenPrincipal img {
    width: 75vw;
    height: 50vh; }
  .flipBox {
    width: 100vw; }
  .footer2 {
    width: 100%;
    height: 100%; } }

@media (min-width: 376px) {
  .gridContainer img:nth-child(6) {
    grid-column: span 5;
    width: auto;
    height: auto; } }

@media (min-width: 768px) {
  .navContainer {
    text-align: right;
    top: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #dbc9c5;
    width: auto;
    height: auto; }
  .navLogo {
    color: #7d2850;
    font-size: 20px;
    float: left;
    padding: 12px 10px;
    display: flex;
    flex-direction: row; }
  .navLogo img {
    width: 40px;
    height: 40px; }
  .navBar {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .navBar > li {
    display: inline-block;
    text-align: center;
    border: none;
    outline: 0;
    position: relative; }
  .navBar > li > a {
    display: block;
    color: #7d2850;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    position: relative; }
  .navBar > li > a:hover {
    background-color: #e1b4d2;
    color: white; }
  .navBar li .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navBar li.dropdown {
    display: inline-block; }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 999; }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #7d2850; }
  .dropdown-content a:hover {
    background-color: #e1b4d2;
    color: white; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .active {
    background-color: #e1b4d2;
    color: white !important; }
  .imagenPrincipal {
    display: block; } }

html {
  height: 100%; }

body {
  background-color: #ffd4f0;
  background: linear-gradient(0deg, #ffd4f0 0%, #e8b5bd 100%);
  padding: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  font-size: 15px; }

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px; }

table {
  color: #7d2850;
  padding-top: 30px; }

#mostradorMiembros {
  border-collapse: collapse;
  border-style: hidden; }

#mostradorMiembros img {
  height: 300px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  border: 0.5px solid #9c2169;
  border-collapse: collapse; }

.presentacionProfesionales {
  color: #7d2850;
  font-weight: bold;
  text-align: center; }

/* ACÁ EMPIEZA EL ESTILO DE MOSTRADOR */
.profesionales {
  border-collapse: collapse;
  width: 50%;
  margin: auto; }

.profesionales th {
  border-top: 2.5px solid #c6b4cc;
  border-bottom: 5px solid #c6b4cc; }

.profesionales td {
  border-bottom: 2.5px solid #c6b4cc; }

.profesionales tbody tr:nth-child(odd) {
  background-color: #dddddd; }

.profesionales tbody tr td:first-child {
  text-align: center; }

.profesionales tbody tr:last-child td {
  border: none; }

.profesionales ul {
  list-style-image: url("../imagenes/iconopaw.png"); }

.opinion {
  color: #7d2850;
  text-align: center; }

.subtitulos {
  text-align: center;
  color: #7d2850;
  font-weight: bold;
  font-size: 17px; }

form {
  color: #7d2850; }

.pieDePagina {
  text-align: right;
  font-size: 25px;
  color: white;
  width: 50px;
  text-align: center;
  padding: 50px;
  align-self: flex-end; }

.box {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center; }

.box img {
  margin: 10px;
  width: 250px;
  height: 150px;
  border-radius: 20%; }

#mostradorServicios > div > div {
  border: 2px solid #7d2850; }

#mostradorServicios img {
  width: 100%;
  height: 100%; }

fieldset {
  border-radius: 15px;
  border-color: #d95db4; }

/* SECCIÓN NUESTROS VALORES */
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px; }

.card1 {
  flex: 0 0 200px;
  margin: 10px;
  flex-grow: 1;
  height: 230px;
  width: 270px;
  text-align: center; }

.card1 .text {
  padding-left: 20px;
  padding-right: 20px; }

#opinionesDueños .card1 .text h3 {
  color: #7d2850;
  text-align: center; }

#opinionesDueños .card1 .text p {
  text-align: center;
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

/* COLOR DE LOS BOTONES */
.button {
  background-color: white;
  color: #7d2850;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid black; }

.button:hover {
  background-color: #7d2850;
  color: white; }

.button2 {
  color: #7d2850;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black; }

.button2:hover {
  background-color: #7d2850;
  color: white; }

.icon {
  font-size: 50px;
  color: #9c2169; }

.icon2 {
  font-size: 20px;
  color: #9c2169;
  padding-top: 20px;
  margin-right: 20px; }

/* Flexbox */
.redondel {
  border: 4px solid #9c2169;
  border-radius: 50%; }

.sombra {
  box-shadow: 0px 8px 16px 0px violet; }

/* Animación sección Miembros */
.miembros {
  animation-duration: 2s;
  animation-name: animacion; }

@keyframes animacion {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.container {
  padding: 2px 16px; }

/* TRANSICIÓN APLICADA EN SECCIÓN SERVICIOS */
.flipBox {
  background-color: transparent;
  width: 25vw;
  height: 30vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 10px; }

.flipBox__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flipBox:hover .flipBox__inner {
  transform: rotateY(180deg); }

.flipBox__card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flipBox__card-Front {
  background-color: #bbb;
  color: black; }

.flipBox__card-Back {
  background-color: #7d2850;
  color: white;
  transform: rotateY(180deg);
  text-align: center; }

.flipBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px; }

.flipBoxTexto {
  padding-top: 50px; }

/* Cambio en los formularios */
#contactoForm {
  padding-top: 50px; }

iframe {
  border: 0; }

/* Mi estilo */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.card {
  border: none;
  border-radius: 10px;
  height: 200px; }

span {
  color: #db558d; }

.about {
  background-color: #940641;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0; }

.about img {
  margin-top: -68px;
  border: 5px solid white; }

@media (max-width: 768px) {
  .card {
    height: 300px; } }

.inputStyle {
  background-color: #aa8494;
  color: white;
  border: 1px solid; }
